<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="{{ landingpage.meta_description }}" />
    <meta name="keywords" content="{{ landingpage.meta_keywords }}" />
    <title>{{ landingpage.title }}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/media/css/960/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/media/css/960/text.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/media/css/960/960.css" /> 
    <link rel="stylesheet" type="text/css" media="screen" href="/media/css/lpg.css" />
</head>
<body>
    <div id="main" class="container_12">
        <div id="content" class="grid_12">
            {% block content %}
            
            {% endblock %}
        </div><div class="clear">&nbsp;</div>
        <div id="footer" class="grid_12">
          <p>{{ landingpage.footer }}</p>
        </div><div class="clear">&nbsp;</div>

    </div>
</body>
</html>
