<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Landing Page Generator</title>
    <!-- Link CSS to /media/css, JS to /media/js, and images to /media/images !!! -->
</head>
<body>
    <h1>Landing Page Generator</h1>
    <p><a href="/accounts/login/">Login</a></p>
    <p><a href="/accounts/register/">Register</a</p>
</body>
</html>
